<div (click)="clicked()">
    <li (mouseenter) ="mouseEnter($event)"  (mouseleave)="mouseLeave($event)">
        <div *ngIf="!search">
            <div>
                <app-icon *ngIf="!onhover"  path="assets/img/repository.png" type="simple"></app-icon>
            </div>
            <div>
                <app-icon *ngIf="onhover" path="assets/img/repository-white.png" type="simple"></app-icon>
            </div>
            <app-pharagraph [color]="color" [text]="text" type="normal" text="typicode/json-server"></app-pharagraph>
        </div>
        <div *ngIf="search">
            <div>
                <app-icon *ngIf="!onhover"  path="assets/img/search-black.png" type="simple"></app-icon>
            </div>
            <div>
                <app-icon *ngIf="onhover" path="assets/img/search-white.png" type="simple"></app-icon>
            </div>
            <app-pharagraph [color]="color" [text]="text" type="normal" text="typicode/json-server"></app-pharagraph>
            </div>
        <div>
            <app-button [text]="buttonText" type="little"></app-button>
        </div>
    </li>
</div>
