<div class="search-list-container"
(click)="onClick()">

    <a-input
      [text]="text" 
      placeholder="Search or jump to..."
      (valueChange)="onValueChangued($event)"
      (inputBlur)="onInputBlured($event)"
      [organismClicked]="organismClicked"
      [showList]="showList"
      >
    </a-input>
    <div *ngIf="text.length > 0 && showList">
        <app-item
            [text]="text" 
            [url]="getSearch()" 
            [search]="true" 
            buttonText="All GitHub">
        </app-item>
    </div>


    <div *ngIf="showList" class="list">
        <div *ngFor="let i of items | pipeFilter: text">
            <app-item
                [text]="i.name" 
                [search]="false"
                buttonText="Jump To" 
                [url]="i.url">
            </app-item>
        </div>
    </div>

</div>

