<!--The content below is only a placeholder and can be replaced.-->
<div (click)="appClicked($event)">    
  <div style="margin-left: 15px">
    <br>
    <h1>Átomos:</h1>
    <br>
    <app-tittle text="Learn Git and GitHub without any code!" type="menu"></app-tittle>
    <app-tittle text="Discover interesting projects and people to populate your personal news feed" type="bold"></app-tittle>
    <app-tittle text="Using the Hello World guide, you’ll create a repository, start a branch, write comments, and open a pull request." type="subtittle"></app-tittle>
  
    <app-pharagraph color="skyblue" type="bold" text="Crowdin"></app-pharagraph> 
    <br>
    <app-pharagraph color="simple" text="Agile localization for your projects"></app-pharagraph>
    <br>
    <app-link text="View all"></app-link>
    <br>
    <app-icon path="assets/img/github-icon.png" type="radius"></app-icon>
    <br>
    <app-icon path="assets/img/repository.png" type="simple"></app-icon>
    <br>
    <app-button text="Jump to" type="little"></app-button>
    <br>
    <br>
    <app-input placeholder="Search or jump to..."></app-input>
    <br>
    <br>
    <br>
    <h1>Moléculas:</h1>
    <app-tool image="assets/img/github-icon.png" tittle="Crowdin" description="Agile localization for your projects"></app-tool>
    <br>
    <app-item text="angular/angular"></app-item>
    <br>
    <br>
    <br>
    <h1>Organismos:</h1>
    <app-tools-group></app-tools-group>
    <br>
    <app-search-list  [organismClicked]="organismClicked"></app-search-list>
    <br>
    <br>
  </div>      
</div>
