<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <img width="100" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>


<div style="margin-left: 15px">
  <h1>Átomos:</h1>
  <app-tittle text="Learn Git and GitHub without any code!" type="menu"></app-tittle>
  <app-tittle text="Discover interesting projects and people to populate your personal news feed" type="bold"></app-tittle>
  <app-tittle text="Using the Hello World guide, you’ll create a repository, start a branch, write comments, and open a pull request." type="subtittle"></app-tittle>

  <app-pharagraph color="skyblue" type="bold" text="Crowdin"></app-pharagraph> 
  <br>
  <app-pharagraph color="simple" text="Agile localization for your projects"></app-pharagraph>
  <br>
  <app-link text="View all"></app-link>
  <br>
  <app-icon path="assets/img/github-icon.png" type="radius"></app-icon>
  <br>
  <app-icon path="assets/img/repository.png" type="simple"></app-icon>
  <br>
  <app-button text="Jump to" type="little"></app-button>
  <br>
  <br>
  <app-input placeholder="Search or jump to..."></app-input>
  <br>
  <hr>
  <h1>Moléculas:</h1>
  <app-tool tittle="Crowdin" description="Agile localization for your projects"></app-tool>
  <br>
  <app-item text="angular/angular"></app-item>
  <hr>
  <h1>Organismos:</h1>
  <app-tools-group></app-tools-group>
  <br>
  <app-search-list></app-search-list>
  <br>
</div>

