<!--The content below is only a placeholder and can be replaced.-->
<div (click)="appClicked($event)">    
  <div style="margin-left: 15px">
    <div style="display: flex; justify-content: space-between; align-items: center">
      <h1></h1>
      <img src="assets/img/everis-logo.jpg">
    </div>
    <br>
    <h1>Átomos:</h1>
    <br>
    <a-title text="Learn Git and GitHub without any code!" type="menu"></a-title>
    <a-title text="Discover interesting projects and people to populate your personal news feed" type="bold"></a-title>
    <a-title text="Using the Hello World guide, you’ll create a repository, start a branch, write comments, and open a pull request." type="subtittle"></a-title>
  
    <a-pharagraph color="skyblue" type="bold" text="Crowdin"></a-pharagraph> 
    <br>
    <a-pharagraph color="simple" text="Agile localization for your projects"></a-pharagraph>
    <br>
    <a-link text="View all"></a-link>
    <br>
    <a-icon path="assets/img/github-icon.png" type="radius"></a-icon>
    <br>
    <a-icon path="assets/img/repository.png" type="simple"></a-icon>
    <br>
    <a-button text="Jump to" type="little"></a-button>
    <br>
    <br>
    <a-input placeholder="Search or jump to..."></a-input>
    <br>
    <br>
    <br>
    <h1>Moléculas:</h1>

    <m-app
        image="assets/img/github-icon.png" 
        tittle="Crowdin" 
        description="Agile localization for your projects">
    </m-app>

    <br>
    <m-item text="angular/angular"></m-item>
    <br>
    <br>
    <br>
    <h1>Organismos:</h1>
    <o-apps-group></o-apps-group>
    <br>
    <o-search-list [organismClicked]="organismClicked"></o-search-list>
    <br>
    <br>
  </div>      
</div>
