.container{
    width: 703.003px;
}
.tittle-container{
    display: flex;
    justify-content: space-between;
}
.description-container{
    margin-bottom: 24px;
}
.tools-group{
    display: flex;
    flex-flow: row wrap;
}
.tool{
    width: 50%;
    margin-bottom: 24px !important
}
