<div *ngIf="appsGroup" class="container">

    <div class="tittle-container">
        <app-tittle [text]="appsGroup.title" type="bold"></app-tittle>
        <app-link text="View all" [url]="appsGroup.seeMoreUrl"></app-link>
    </div>

    <div class="description-container">
        <app-tittle [text]="appsGroup.description" type="subtittle"></app-tittle>
    </div>

    <div class="tools-group">        
        <div *ngFor="let app of appsGroup.available" class="tool">
            <app-tool 
                [tittle]="app.title" 
                [description]="app.appDescription" 
                [image]="app.image">
            </app-tool>
        </div>
    </div>
    
</div>


