<div *ngIf="appsGroup" class="container">

    <div class="tittle-container">
        <a-tittle [text]="appsGroup.title" type="bold"></a-tittle>
        <a-link text="View all" [url]="appsGroup.seeMoreUrl"></a-link>
    </div>

    <div class="description-container">
        <a-tittle [text]="appsGroup.description" type="subtittle"></a-tittle>
    </div>

    <div class="tools-group">        
        <div *ngFor="let app of appsGroup.available" class="tool">
            <app-tool 
                [tittle]="app.title" 
                [description]="app.appDescription" 
                [image]="app.image">
            </app-tool>
        </div>
    </div>
    
</div>